<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Internet Banking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>servlet.common.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServ</display-name>
    <servlet-name>LogoutServ</servlet-name>
    <servlet-class>servlet.common.LogoutServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServ</servlet-name>
    <url-pattern>/LogoutServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsDAO</display-name>
    <servlet-name>AccountsDAO</servlet-name>
    <servlet-class>servlet.AccountsDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsDAO</servlet-name>
    <url-pattern>/AccountsDAO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServ</display-name>
    <servlet-name>RegServ</servlet-name>
    <servlet-class>servlet.customer.RegServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServ</servlet-name>
    <url-pattern>/RegServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountsAddController</display-name>
    <servlet-name>AccountsAddController</servlet-name>
    <servlet-class>controller.AccountsAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountsAddController</servlet-name>
    <url-pattern>/AccountsAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccServ</display-name>
    <servlet-name>NewAccServ</servlet-name>
    <servlet-class>servlet.customer.NewAccServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccServ</servlet-name>
    <url-pattern>/NewAccServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccCloseServ</display-name>
    <servlet-name>AccCloseServ</servlet-name>
    <servlet-class>servlet.customer.AccCloseServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccCloseServ</servlet-name>
    <url-pattern>/AccCloseServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPayeeServ</display-name>
    <servlet-name>AddPayeeServ</servlet-name>
    <servlet-class>servlet.customer.AddPayeeServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPayeeServ</servlet-name>
    <url-pattern>/AddPayeeServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferServ</display-name>
    <servlet-name>FundTransferServ</servlet-name>
    <servlet-class>servlet.customer.FundTransferServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferServ</servlet-name>
    <url-pattern>/FundTransferServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCusServ</display-name>
    <servlet-name>NewCusServ</servlet-name>
    <servlet-class>servlet.admin.NewCusServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCusServ</servlet-name>
    <url-pattern>/NewCusServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelCusServ</display-name>
    <servlet-name>DelCusServ</servlet-name>
    <servlet-class>servlet.admin.DelCusServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelCusServ</servlet-name>
    <url-pattern>/DelCusServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCusServ</display-name>
    <servlet-name>UpdateCusServ</servlet-name>
    <servlet-class>servlet.admin.UpdateCusServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCusServ</servlet-name>
    <url-pattern>/UpdateCusServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccServ</display-name>
    <servlet-name>UpdateAccServ</servlet-name>
    <servlet-class>servlet.admin.UpdateAccServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccServ</servlet-name>
    <url-pattern>/UpdateAccServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelAccServ</display-name>
    <servlet-name>DelAccServ</servlet-name>
    <servlet-class>servlet.admin.DelAccServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelAccServ</servlet-name>
    <url-pattern>/DelAccServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewAccAdminServ</display-name>
    <servlet-name>NewAccAdminServ</servlet-name>
    <servlet-class>servlet.admin.NewAccAdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewAccAdminServ</servlet-name>
    <url-pattern>/NewAccAdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePassServ</display-name>
    <servlet-name>ChangePassServ</servlet-name>
    <servlet-class>servlet.customer.ChangePassServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePassServ</servlet-name>
    <url-pattern>/ChangePassServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProfileServ</display-name>
    <servlet-name>UpdateProfileServ</servlet-name>
    <servlet-class>servlet.customer.UpdateProfileServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfileServ</servlet-name>
    <url-pattern>/UpdateProfileServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminServ</display-name>
    <servlet-name>UpdateAdminServ</servlet-name>
    <servlet-class>servlet.admin.UpdateAdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminServ</servlet-name>
    <url-pattern>/UpdateAdminServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAdminPassServ</display-name>
    <servlet-name>UpdateAdminPassServ</servlet-name>
    <servlet-class>servlet.admin.UpdateAdminPassServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAdminPassServ</servlet-name>
    <url-pattern>/UpdateAdminPassServ</url-pattern>
  </servlet-mapping>
</web-app>